<% provide(:title, "Groups") %>

<h1> Total  of groups: <%= @groups.count %> </h1>

<ul class="groups">
    <% @groups.each do |group|%>
    <li>
        <span class="content"> 

             <img src="<%= group.icon%>" class=" icon" alt="icon" >        
            <%= link_to "#{group.name}", group %></td>
        <span>

         <span class="timestamp">
            Created <%= time_ago_in_words(group.created_at) %> ago.            

                <%= link_to "delete", group, method: :delete, 
                                            data: { confirm: "Are you sure?"} %>         
        
        </span>
    <% end %>
    </li>
    <li><%= link_to " New Group", "groups/new" %></li>
</ul>
