<% provide(:title, "Groups") %>

<h1> Total  of groups: <%= @groups.count %> </h1>



<% @groups.each do |group|%>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        <img src="<%= group.icon%>" class=" icon" alt="icon" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= link_to "#{group.name}", group %></h5>
        <p class="card-text"><%= link_to "delete", group, method: :delete, data: { confirm: "Are you sure?"} %> </p>
        <p class="card-text"><small class="text-muted"> Created <%= time_ago_in_words(group.created_at) %> ago.</small></p>
      </div>
    </div>
  </div>
</div>
 <% end %>
   <li><%= link_to " New Group", "groups/new" %></li>