


   
      

       
      <h3> You have a total tracking of <%= @external_total %>   <%= "hour".pluralize(@external_total) %> in External activities </h3>
         <h3>  <%= @external_activities.count%> External <%= "activity".pluralize(@external_activities.count) %>. </h3>
          <% @external_activities.each do |activity| %>
              <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                     <div class="col-md-4">
                        <img src="https://cdn.onlinewebfonts.com/svg/img_132703.png" class=" icon" alt="icon" >
                        
                     </div>
                         <div class="col-md-8">
                          <div class="card-body">                 
                              <p class="card-text"><%= activity.name %></p>
                              <p class="card-text"> You spent in this activity <%= activity.activity_time %>
                                                                             <%= "Hour".pluralize(activity.activity_time) %>. </p>
 
                           </div>
                        </div>
                  </div>
              </div>
          <% end %>
     
    
  